$total-lines: 4;
$left-offset: 20px;
$clip-height: 75px;
$line-height: $clip-height - 15px;

.container {
  margin-top: 6%;
  margin-left: 25%;
}

.Words {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #21212B;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.Words-line {
  height: $clip-height;
  overflow: hidden;
  position: relative;

  &:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(.66667);
  }
  &:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }

  @for $i from 1 through $total-lines+1 {
    &:nth-child(#{$i}) {
      left: $left-offset * $i;
    }
  }
}

p {
  height: $clip-height;
  line-height: $line-height;
  padding: 0 10px;
  transition: all .4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

.Words:hover {
  p {
    color: #FF75A1;
    transform: translate3d(0, -($clip-height), 0);
  }
}

