.Navbar {
    min-width: 280px;
    min-height: calc(100vh - 80px);
    background-color: #21212B;
    box-shadow: inset 0px 5px 12px -3px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Navbar__link {
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;
    margin-top: 40px;
    color: #B7B6BB;
    font-size: 18px;
}

.Navbar__textLink {
    margin-left: 5px;
}

.Navbar__link:hover {
    color: #FF75A1;
    cursor: pointer;
}

.Navbar__linkActive {
    color: #FF75A1;
}
